body {
	margin: 0;
	background-color: #DDD;
}

header {
	/*padding: 0 16px;*/
	display: flex;
	background: linear-gradient(0deg, #080, #0A0);
}
header h1 {
	margin: 0;
	padding: 8px;
}
.normal:hover, .normal:visited, .normal:link, .normal:active{
	color: white;
	text-decoration: none;
}

div#middle {
	display: flex;
}

nav {
	padding: 16px 16px 42px 0;
	flex-shrink: 0;
	display: block;
	background-color: #cfb;
}
nav ul li {
	margin-bottom: 16px;
}

article {
	flex-shrink: 1;
	min-height: 256px;
	width: 100%;
	background-color: #fff;
	padding: 16px;
}
h2 {
	padding-left: 32px;
	background-image: url("/favicon.ico");
	background-repeat: no-repeat;
}
ul li , ol li{
	margin-bottom: 8px;
}

footer{
	background-color: #DDD;
	padding: 8px;
}

h3 {
	border-bottom: 1px solid black;
	padding: 2px;
}
